main{
    #section-entrevistas{
        h2{
            margin-left: 15px;
            font-size: 2.3em;
            font-weight: lighter;
            @media (min-width: $breackpoint) {
                margin: 30px 200px;
            }
        }
        div{
            display: flex;
            flex-flow: row wrap;
            img{
                width: 100%;
                margin-bottom: -1px;
                @media  (min-width:$breackpoint){
                    width: 33.333%;
                }
            }
        }
    }
}