main{
    #section-episodios{
        background-color: $bg-episodios-color;
        h2{

            margin: 0px 0px 10px 10px;
            padding-top: 10px;
            font-size: 2em;
            font-weight: lighter;
            color: #fff;
        }
        article{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            iframe{
                margin: 10px;
            }
        }

    }

}
