footer{
    margin-top: -25px;
    position: relative;
    background-color: #fff;
    z-index: 100;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    span{
        margin-top: 20px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        li{
            list-style-type: none;
            margin: 20px;
            a{
                text-decoration: none;
                i{
                    color: #000;
                }
            }
        }
    }
}