footer{
    position: relative;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @media  (min-width:$breackpoint){
        justify-content: space-between;
        padding: 20px 100px;
    }
    span{
        margin-top: 20px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        li{
            list-style-type: none;
            margin: 20px;
            a{
                text-decoration: none;
                i{
                    color: #000;
                    &:hover{
                        color: $button-color;
                    }
                }
            }
        }
    }
}