header {
    #navegador{
        position: relative;
        min-height: 44px;
        img {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        #cruz {
            position: absolute;
            opacity: 0;
        }
        #checkbox {
            position: absolute;
            top: 10px;
            right: 0;
            opacity: 0;
            z-index: 10;
            width: 30px; 
            height: 30px;
            cursor: pointer;
            &:checked ~ nav{ 
                display: block;
            }
            &:checked ~ #cruz{
                opacity: 1;
                z-index: 4;
            }
            &:checked ~ #barras{
                opacity: 0; 
            }
        }
        i {
            position: absolute;
            top: 15px;
            right: 10px;
            transform: scale(1.2);
        }
        nav {
            position: absolute;
            top: 44px;
            width: 100%;
            display: none;
            background-color: $bg-episodios-color;
            li {
                padding: 10px;
                a {
                    text-decoration: none;
                    color: #fff;
                    &:hover{
                        color: $button-color;
                        text-decoration: line-through;
                    }
                    &:active{
                        color: #444;
                    }
                }
            }    
        }
    }
    h1{
        margin-top:30px ;
        font-weight: lighter;
        & span:last-child{
            text-decoration: line-through;
        }
    }
    h2{
        font-size: 2em;
        font-weight: lighter;
        &::after{
            content: ".";
            color: $bg-episodios-color;
        }
    }
    p{
        margin-top:15px;
    }
    .titulo{
        margin-left: 15px;
    }
    button{
        display: block;
        width: 80%;
        height: 50px;
        margin: 20px auto;
        background-color:$button-color;
        font-size: 1.3em;
        font-weight: bold;
        &:hover{
            background-image: linear-gradient(to right, $button-color, $bg-episodios-color);;
            color: #fff;
        }
    }
}
