main{
    #section-nosotros{
        margin-top: -120px;
        z-index: 100;
        margin-bottom: 15px;
        display: flex;
        flex-flow: row wrap;
        @media  (min-width:$breackpoint){
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
        }
        #article-phone{
            position: relative;
            img{
                width: 100%;
            }
        }
        #article-texto{
            padding: 0 15px;
        }
        h2{
            margin-bottom: 10px;
            font-size: 2.3em;
            font-weight: lighter;
        }
        p{
            margin-top: 10px;
        }
        article{
            @media  (min-width:$breackpoint){
                width: 25%;
            }
        }
    }
}
