main {
    #section-topicos {
        h2 {
            margin: 20px 15px;
            font-size: 2.3em;
            font-weight: lighter;
            @media (min-width: $breackpoint) {
                margin: 50px 200px;
            }
        }
        article {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            text-align: center;
            div {
                margin: 15px 20px;
                font-weight: lighter;
                @media (min-width: $breackpoint) {
                    margin: 20px 20px;
                }
                @media (max-width: $breackpoint) {
                    margin: 10px 50px;
                }

                h3 {
                    width: 200px;
                    margin: 20px 0px 30px 0px;
                    font-size: 1.3em;
                    font-family: $bold-font;
                    font-weight: lighter;
                }
            }
        }
    }
}
