@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
$title-font: 'Poppins', sans-serif;
$body-font:'Open Sans', sans-serif;
$bold-font: 'Lato', sans-serif;
$button-color:#ffb2a7;
$bg-episodios-color: #cc0e74;
$bg-episodios-color-2: #810346;
$breackpoint: 768px;
$breackpoint-tablet: 1000px;