@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
$title-font: 'Poppins', sans-serif;
$body-font:'Open Sans', sans-serif;
$bold-font: 'Lato', sans-serif;
$button-color:#00F3BB;
$bg-episodios-color: #0000ec;
$breackpoint: 768px;